body {
  background: #272822;
  background-color: #272822;
}

html:-webkit-full-screen-ancestor {
  background: #272822;
  background-color: #272822;
}

html:-moz-full-screen-ancestor {
  background: #272822;
  background-color: #272822;
}
